# Cargo generated
/target/

# Nix generated
/result*
/scripts/tmp.toml

# wasm-pack
/pkg/

# rustfmt Backup file
**/*.rs.bk

# Makam cache
.makam-cache/
node_modules
lsp/client-extension/node_modules
lsp/client-extension/out
