# Cargo generated
/target/
/utilities/target

# Nix generated
/result*
/scripts/tmp.toml

# wasm-pack
/pkg/

# rustfmt Backup file
**/*.rs.bk

/node_modules
/lsp/client-extension/node_modules
/lsp/client-extension/out

# Ctags output
/tags

# pre-commit-hooks
/.pre-commit-config.yaml
