# Cargo generated
/target/
/utilities/target

# Nix generated
/result*
/scripts/tmp.toml

# wasm-pack
/pkg/

# rustfmt Backup file
**/*.rs.bk

/node_modules
/lsp/client-extension/node_modules
/lsp/client-extension/out
/lsp/client-extension/.yarn/cache
/lsp/client-extension/.yarn/install-state.gz
/lsp/client-extension/.yarn/unplugged
/lsp/client-extension/.pnp.cjs
/lsp/client-extension/.pnp.loader.mjs

# Ctags output
/tags

# pre-commit-hooks
/.pre-commit-config.yaml
