[package]
name = "nickel-lang"
version = "0.3.1"
authors = ["Nickel team"]
license = "MIT"
readme = "README.md"
description = "Programmable configuration files."
homepage = "https://nickel-lang.org"
repository = "https://github.com/tweag/nickel"
keywords = ["configuration", "language", "nix"]
edition = "2021"

[[bin]]
name = "nickel"
path = "src/bin/nickel.rs"
bench = false

[lib]
bench = false

[features]
default = ["markdown", "repl", "doc"]
markdown = ["termimad"]
repl = ["rustyline", "rustyline-derive", "ansi_term"]
repl-wasm = ["wasm-bindgen", "js-sys", "serde_repr"]
doc = [ "comrak" ]

[build-dependencies]
lalrpop = "0.19.6"

[dependencies]
lalrpop-util = "0.19.6"
regex = "1"
simple-counter = "0.1.0"
codespan = "0.11"
codespan-reporting = "0.11"
logos = "0.12"
serde = { version = "1.0.154", features = ["derive"] }
serde_json = "1.0.94"
serde_yaml = "0.9.19"
toml = { version = "0.7.2", features = ["parse"] }
structopt = "0.3"
void = "1"
sha-1 = "0.10.0"
sha2 = "0.10.6"
md-5 = "0.10.5"
directories = "4.0.1"
unicode-segmentation = "1.10.1"

termimad = { version = "0.23.0", optional = true }
ansi_term = { version = "0.12", optional = true }

rustyline = { version = "11.0", optional = true}
rustyline-derive = { version = "0.8.0", optional = true }

# The `wasm-bindgen` version is pinned (`=`) because it must be a version
# available in Nixpkgs.
wasm-bindgen = { version = "=0.2.83", optional = true, features = ["serde-serialize"] }
serde-wasm-bindgen = "0.5.0"
js-sys = { version = "0.3", optional = true }
serde_repr = { version = "0.1", optional = true }
pretty = "0.11.3"

comrak = { version = "0.16.0", optional = true, features = [] }
once_cell = "1.17.1"
typed-arena = "2.0.2"

[dev-dependencies]
pretty_assertions = "1.3.0"
assert_matches = "1.5.0"
criterion = "0.4"
pprof = { version = "0.11.1", features = ["criterion", "flamegraph"] }
nickel-lang-utilities = {path = "utilities", version = "0.3.1"}
similar = "2.2.1"
test-generator = "0.3.1"
insta = { version = "1.28.0", features = ["filters"] }

[workspace]
members = [
    ".",
    "lsp/nls",
    "utilities",
    "nickel-wasm-repl",
    "pyckel",
]

# Enable this to use flamegraphs
# [profile.release]
# debug = true

[[bench]]
name = "numeric"
harness = false

[[bench]]
name = "functions"
harness = false

[[bench]]
name = "arrays"
harness = false

# [[bench]]
# name = "records"
# harness = false

[[bench]]
name = "serialization"
harness = false

[[bench]]
name = "mantis"
harness = false

[[bench]]
name = "stdlib"
harness = false

[[bench]]
name = "typecheck-nixpkgs-lib"
harness = false
