[package]
name = "nickel-lang"
version = "0.2.1"
authors = ["Nickel team"]
license = "MIT"
readme = "README.md"
description = "Programmable configuration files."
homepage = "https://nickel-lang.org"
repository = "https://github.com/tweag/nickel"
keywords = ["configuration", "language", "nix"]
edition = "2021"

[[bin]]
name = "nickel"
path = "src/bin/nickel.rs"
bench = false

[lib]
bench = false

[features]
default = ["markdown", "repl", "doc"]
markdown = ["termimad"]
repl = ["rustyline", "rustyline-derive", "ansi_term"]
repl-wasm = ["wasm-bindgen", "js-sys", "serde_repr"]
doc = [ "comrak" ]

[build-dependencies]
lalrpop = "0.19.6"

[dependencies]
lalrpop-util = "0.19.6"
regex = "1.5"
simple-counter = "0.1.0"
codespan = "0.11"
codespan-reporting = "0.11"
logos = "0.12.0"
serde = { version = "1.0.137", features = ["derive"] }
serde_json = "1.0.81"
serde_yaml = "0.8.24"
toml = "0.5.9"
structopt = "0.3"
void = "1"
sha-1 = "0.10.0"
sha2 = "0.10.2"
md-5 = "0.10.1"
directories = "4.0.1"

termimad = { version = "0.20.1", optional = true }
ansi_term = { version = "0.12", optional = true }

rustyline = { version = "9.1.2", optional = true}
rustyline-derive = { version = "0.6.0", optional = true }

wasm-bindgen = { version = "=0.2.74", optional = true, features = ["serde-serialize"] }
js-sys = { version = "0.3", optional = true }
serde_repr = { version = "0.1", optional = true }
pretty = "0.11.3"

comrak = { version = "0.12.1", optional = true, features = [] }
once_cell = "1.14.0"
typed-arena = "2.0.1"

[dev-dependencies]
pretty_assertions = "1.2.1"
assert_matches = "1.5.0"
criterion = "0.3"
pprof = { version = "0.9.1", features = ["criterion", "flamegraph"] }
nickel-lang-utilities = {path = "utilities", version = "0.2.1"}
similar = "2.1.0"

[workspace]
members = [
    ".",
    "lsp/nls",
    "utilities",
    "nickel-wasm-repl",
]

# Enable this to use flamegraphs
# [profile.release]
# debug = true

[[bench]]
name = "numeric"
harness = false

[[bench]]
name = "functions"
harness = false

[[bench]]
name = "arrays"
harness = false

# [[bench]]
# name = "records"
# harness = false

[[bench]]
name = "serialization"
harness = false

[[bench]]
name = "mantis"
harness = false

[[bench]]
name = "stdlib"
harness = false

[[bench]]
name = "typecheck-nixpkgs-lib"
harness = false
