[package]
name = "nickel-lang-cli"
description = "The Nickel interpreter CLI"
authors.workspace = true
edition.workspace = true
homepage.workspace = true
keywords.workspace = true
license.workspace = true
repository.workspace = true
version.workspace = true
readme.workspace = true

[[bin]]
name = "nickel"
path = "src/main.rs"
bench = false

[features]
default = ["repl", "doc", "format"]
repl = ["nickel-lang-core/repl"]
doc = ["nickel-lang-core/doc"]
format = ["nickel-lang-core/format", "tempfile"]

[dependencies]
nickel-lang-core = { workspace = true, features = [ "markdown" ], default-features = false }

clap = { workspace = true, features = ["derive"] }
serde = { workspace = true, features = ["derive"] }
directories.workspace = true

tempfile = { workspace = true, optional = true }

git-version = { workspace = true }
clap_complete = { workspace = true }

[dev-dependencies]
test-generator.workspace = true
insta = { workspace = true, features = ["filters"] }
