@use "sass:map";
@use "sass:color";

$theme-colors: (
  "primary": #e0c3fc,
  "secondary": #8ec5fc
);

@import '~bootstrap/scss/bootstrap.scss';

/* Correctly style links with our custom primary and secondary colors */

@mixin link($color) {
  $selected: map.get($theme-colors, $color);
  color: color.adjust($selected, $lightness: -10%);

  &:hover, &:focus {
    color: color.adjust($selected, $lightness: -40%);
  }

  &.active {
    background-color: $selected !important;
  }
}

a:hover { text-decoration: none; }

.link-primary {
  @include link("primary");
}

.link-secondary {
  @include link("secondary");
}

.horizontal-sep {
  height: 5px;
  background: map.get($theme-colors, "primary");
}

.content {
  h1, h2, h3, h4, h5 {
    margin-bottom: 0.5em;
    margin-top: 2.5em;
  }

  h1:first-child {
    margin-top: 0;
  }
}

/* Augment bootstrap with breakpoint variants of w-100, w-50, and so on. */

@each $breakpoint in map-keys($grid-breakpoints) {
  @each $size, $length in $sizes {
    @include media-breakpoint-up($breakpoint) {
      .w-#{$breakpoint}-#{$size} {width: $length !important;}
    }
  }
}

/* Animation of the landing page's scrolldown arrow */

.scroll-down-arrow {
  height: 60px;
  width: 80px;
  margin: 0px 0 0 -40px;
  line-height: 60px;
  position: absolute;
  left: 50%;
  bottom: 0px;
  color: black;
  text-align: center;
  font-size: 70px;
  z-index: 100;
  text-decoration: none;
  text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.4);

  -webkit-animation: ca3_fade_move_down 1.5s ease-in-out infinite;
  -moz-animation:    ca3_fade_move_down 1.5s ease-in-out infinite;
  animation:         ca3_fade_move_down 1.5s ease-in-out infinite;
}

@-webkit-keyframes ca3_fade_move_down {
  0%   { -webkit-transform:translate(0,-20px); opacity: 0;  }
  50%  { opacity: 1;  }
  100% { -webkit-transform:translate(0,20px); opacity: 0; }
}
@-moz-keyframes ca3_fade_move_down {
  0%   { -moz-transform:translate(0,-20px); opacity: 0;  }
  50%  { opacity: 1;  }
  100% { -moz-transform:translate(0,20px); opacity: 0; }
}
@keyframes ca3_fade_move_down {
  0%   { transform:translate(0,-20px); opacity: 0;  }
  50%  { opacity: 1;  }
  100% { transform:translate(0,20px); opacity: 0; }
}