[package]
name = "nickel-lang-lsp"
readme = "README.md"
description = "NLS: A language server for the Nickel configuration language."
authors.workspace = true
edition.workspace = true
homepage.workspace = true
keywords.workspace = true
license.workspace = true
repository.workspace = true
version.workspace = true

[[bin]]
name = "nls"
path = "src/main.rs"

[build-dependencies]
lalrpop = "0.19.6"

[dependencies]
lalrpop-util = "0.19.6"
clap = { version = "4.3", features = ["derive"] }
codespan = "0.11"
codespan-reporting = "0.11"
codespan-lsp = "0.11"
serde = { version = "1.0.154", features = ["derive"] }
serde_json = "1.0.94"
regex = "1"

lsp-server = "0.6"
lsp-types = "0.88"
log = "0.4"
env_logger = "0.9"
anyhow = "1.0"
nickel-lang = {path = "../../nickel-lang", version = "1.0.0"}
derive_more = "0.99"
lazy_static = "1"
csv = "1"

[dev-dependencies]
pretty_assertions = "1.3.0"
assert_matches = "1.5.0"
