name: benchmark master
on:
  push:
    branches: master
jobs:
  benchmark-master:
    name: benchmark master
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - uses: cachix/install-nix-action@v31
        name: "Installing Nix"
        with:
          extra_nix_config: |
            experimental-features = nix-command flakes
            accept-flake-config = true
          nix_path: "nixpkgs=channel:nixos-unstable"
      - uses: bencherdev/bencher@main
      - name: Track benchmarks on master
        run: |
          bencher run \
          --project nickel \
          --token '${{ secrets.BENCHER_API_TOKEN }}' \
          --branch master \
          --testbed ubuntu-latest \
          --adapter rust_criterion \
          nix develop --command cargo bench --package nickel-lang-core --features=benchmark-ci --bench numeric --bench arrays

          bencher run \
          --project nickel \
          --token '${{ secrets.BENCHER_API_TOKEN }}' \
          --branch master \
          --testbed ubuntu-latest \
          --adapter rust_criterion \
          nix develop --command cargo bench --package nickel-lang-lsp
