name: Continuous integration
on:
  push:
    branches:
      - master
  pull_request:
  merge_group:

concurrency:
  group: ci-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build-and-test:

    strategy:
      matrix:
        include:
          - os: ubuntu-24.04
            name: linux
          - os: macos-15
            name: macos
            continue-on-error: true

    name: build-and-test (${{ matrix.name }})
    runs-on: ${{ matrix.os }}
    # The `== true` makes it work whether continue-on-error has been defined or not.
    continue-on-error: ${{ matrix.continue-on-error == true }}

    steps:

    - name: Checking out the repository
      uses: actions/checkout@v6
      with:
        fetch-depth: 0

    - name: Free disk space
      # This hash is a recent main version, because v6 (the latest release as of
      # this comment) doesn't work with the cachix install action.
      uses: wimpysworld/nothing-but-nix@10c936d9e46521bf923f75458e0cbd4fa309300d
      with:
        hatchet-protocol: 'holster'
      # Currently broken on macos:
      # https://github.com/wimpysworld/nothing-but-nix/issues/39
      if: runner.os == 'Linux'

    - name: Install Nix
      uses: cachix/install-nix-action@v31
      with:
        nix_path: nixpkgs=channel:nixos-unstable
        extra_nix_config: |
          experimental-features = nix-command flakes
          accept-flake-config = true

    - name: Setup Cachix
      uses: cachix/cachix-action@v16
      with:
        name: tweag-nickel
        authToken: '${{ secrets.CACHIX_TWEAG_NICKEL_AUTH_TOKEN }}'

    - name: Run all checks
      run: |
        nix flake check --print-build-logs

    - name: Typecheck benchmarks
      run: find core/benches -type f -name "*.ncl" -exec nickel typecheck '{}' \;

  build-and-test-windows:
    name: "build-and-test (windows-latest)"
    runs-on: windows-latest
    continue-on-error: true
    steps:
      - uses: actions/checkout@v6

      - uses: actions-rust-lang/setup-rust-toolchain@v1

      - name: Build
        run: cargo build --all-targets --package nickel-lang-*

      - name: Test
        run: cargo test --package nickel-lang-*
