name: Continuous integration
on:
  push:
    branches:
      - master
  pull_request:
  merge_group:

concurrency:
  group: ci-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build-and-test:

    strategy:
      matrix:
        include:
          - os: ubuntu-24.04
            name: linux
          - os: macos-15
            name: macos

    name: build-and-test (${{ matrix.name }})
    runs-on: ${{ matrix.os }}

    steps:

    - name: Checking out the repository
      uses: actions/checkout@v6
      with:
        fetch-depth: 0

    # Last I checked, the ubuntu runners have a root filesystem with 23G free
    # and a /mnt with 66G free. Putting /nix in /mnt seems to stop us from
    # running out of disk space. (There are also actions available that do
    # more drastic things.)
    - name: Loop mount
      if: runner.os == 'Linux'
      run: |
        sudo mkdir /mnt/nix
        sudo mkdir /nix
        sudo mount --bind /mnt/nix /nix

    - name: Install Nix
      uses: cachix/install-nix-action@v31
      with:
        nix_path: nixpkgs=channel:nixos-unstable
        extra_nix_config: |
          experimental-features = nix-command flakes
          accept-flake-config = true

    - name: Setup Cachix
      uses: cachix/cachix-action@v16
      with:
        name: tweag-nickel
        authToken: '${{ secrets.CACHIX_TWEAG_NICKEL_AUTH_TOKEN }}'


    - name: Run all checks
      run: |
        nix flake check --print-build-logs

    - name: Check disk space
      run: df -h

    - name: Typecheck benchmarks
      run: find core/benches -type f -name "*.ncl" -exec nickel typecheck '{}' \;

  build-and-test-windows:
    name: "build-and-test (windows-latest)"
    runs-on: windows-latest
    continue-on-error: true
    steps:
      - uses: actions/checkout@v6

      - uses: actions-rust-lang/setup-rust-toolchain@v1

      - name: Build
        run: cargo build --all-targets --package nickel-lang-*

      - name: Test
        run: cargo test --package nickel-lang-*
